.background{
    background-image: url("./images/pngtree-blue-grid-education-background-picture-image_1219968.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}