body{
    background-color: #F5F5DC;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 20px;
}


button{
    background-color: #ffffff;
    color: #090909;
    border: none;
    padding: 10px 30px;
    border-radius: 999px;
    font-size: 20px;
    border: 3px solid #F5F5DC;
}